<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cassette">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_music_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_music_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicPlayer">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.musicplayer.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name="com.example.cassette.views.SplashScreen"
            android:theme="@style/Theme.noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.cassette.views.MainActivity"
            android:theme="@style/Theme.MusicPlayer" />
        <service android:name=".services.NotificationPlayerService"/>
    </application>

</manifest>

    <!--TODO("add these two lines to main activity")
    <category android:name="android.intent.category.APP_MUSIC" />
    <category android:name="android.intent.category.DEFAULT" />
    -->